<ion-header>
  <!-- <ion-toolbar style="--background: #50a0f0">
    <ion-title>Check pro</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content class="ion-padding login-container">
  <div class="login-card-container">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title>INICIAR SESIÓN</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input placeholder="Username"
                     [(ngModel)]="email"
                     class="primary-input"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Password"
                     type="password"
                     [(ngModel)]="password"
                     class="primary-input"></ion-input>
        </ion-item>

        <div class="ion-margin-top ion-text-right forget">
          <a>Forgot Password?</a>
        </div>

        <div class="ion-margin-top">
          <ion-button expand="block" style="--background:#50a0f0; color: white;"
                      (click)="login()">LOGIN</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>